APP_ENV=production
APP_URL=https://mojepenize.jirijanousek.cz
DB_HOST=sdb-81.hosting.stackcp.net
DB_PORT=3306
DB_NAME=mojepenize-3530383704f4
DB_USER=mojepenize-3530383704f4
DB_PASSWORD=CHANGE_ME_ON_SERVER_ONLY
